<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="My Analyzer ruleset" ToolsVersion="15.0">
    <IncludeAll Action="Warning" />
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1200" Action="None" />
        <Rule Id="SA1629" Action="None" />
        <Rule Id="SA1642" Action="None" />
    </Rules>
</RuleSet>